/* JANESSA GROVES */

/* CSS RESET BY MEYERWEB.COM */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- VARIABLES ----- */
:root {
	/* COLORS */
	--blackhole: #0D1F26;
	--gold: #D9A138;
	--navy: #00246D;
	--grape: #641F8C;
	--teal: #07F2C7;
	--pink: #F20EA8;
	--ltpurple: #AA3DD9;
	--white: #FFF;

	/* FONTS */
	--bitter-font: "Bitter", serif;
	--orb-font: "Orbitron", sans-serif;
	font-size: 18px;

	/* HAMBURGER MENU */
	--bar-width: 3.5rem;
	--bar-height: 0.4rem;
	--bar-gap: 0.65rem;
	--animation: 200ms ease-in-out;
	--hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
	--x-width: calc(var(--hamburger-height) * 1.41421356237);

	/* MISC */
	--topOffset: 2.5rem;
}

/* ----- BODY/GLOBAL -----  */
html {
	width: 100%;
	scroll-behavior: smooth;
}

/* ----- TYPOGRAPHY -----  */
h1, h2, h6, nav, .tileBtn, #subBtnWrapper button {
	font-family: var(--orb-font);
}

h3, h4, p, small, address, .hours, input, span {
	font-family: var(--bitter-font); 
	line-height: 1.5em;
}

h1, h2, h3, nav {
	font-weight: bold;
	text-align: center;
}

h1 {
	font-size: 2.5em;
	color: var(--white);
}

h2 {
	font-size: 2.5em;
	padding-top: 1rem;
}

h3, nav {
	font-size: 2em;
}

h4, h6 {
	font-weight: bold;
	font-size: 1.25em;
}

h6 {
	padding-top: 1rem;
}

small {
	font-size: 0.5em;
}

/* ----- SKIP LINK ----- */
#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip:focus  {
	position: static;
	width: auto;
	height: auto;
}

/* ----- HEADER ----- */
header { 
	background-image: linear-gradient(to left, var(--pink) 0%, var(--grape) 50%, var(--navy) 100%);
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 7em;
}

.logo {
	width: 80px;
	margin: 0.5rem;
}

h1 {
	grid-column: 2 / 5;
	align-self: center;
	justify-self: center;
}

.lgView {
	display: none;
}

.smView {
	display: block;
}

    /* ----- NAV ----- */
	nav {
		display: block;
		margin: 0;
		padding: 0;
	}

	nav ul {
		width: 100%;
		display: none;
		position: absolute;
		right: 0;
		top: 7rem;
		z-index: 2;
		background-image: linear-gradient(to left, var(--pink) 0%, var(--grape) 50%, var(--navy) 100%);
	}

	nav li {
		padding: 1rem;
	}

	nav a {
		text-decoration: none;
		color: var(--blackhole);
		background-color: var(--white);
		padding: 0.75em;
		border-radius: 90px;
		display: block;
	}

	nav a:focus, nav a:hover {
		color: var(--white);
		background-color: var(--blackhole);
	}

	nav a:visited { 
		color: var(--grape);
	}
		
		/* ----- HAMBURGER MENU INSPIRED BY WEB DEV SIMPLIFIED ----- */
		/* https://youtu.be/dAIVbLrAb_U? */
		.hMenu {
			display: flex;
			flex-direction: column;
			gap: var(--bar-gap);
			width: max-content;
			padding-right: 0.5rem;
			z-index: 2;
			cursor: pointer;
		}

		.hMenu::before, .hMenu input, .hMenu::after {
			content: "";
			width: var(--bar-width);
			height: var(--bar-height);
			background-color: var(--white);
			border-radius: 90px;
			transform-origin: left center;
			transition: opacity var(--animation), width var(--animation), rotate var(--animation), translate var(--animation);
		}

		.hMenu input {
			appearance: none;
			padding: 0;
			margin: 0;
			outline: none;
			pointer-events: none;
		}

		.hMenu input:checked {
			opacity: 0;
			width: 0;
		}

		.hMenu:has(input:checked)::before {
			rotate: 45deg;
			width: var(--x-width);
			translate: 0 calc(var(--bar-height) / -2);
		}

		.hMenu:has(input:checked)::after {
			rotate: -45deg;
			width: var(--x-width);
			translate: 0 calc(var(--bar-height) / 2);
		}

		.hMenu:has(input:checked) + .menu {
			display: block;
		}

		.hMenu:has(input:focus-visible)::before,
		.hMenu:has(input:focus-visible)::after,
		.hMenu input:focus-visible {
			border: 1px solid var(--blackhole);
		}

		/* ----- SECONDARY NAVIGATION ----- */
		/* only really applies to About page atm */
		.secondaryNav {
			display: flex;
			flex-direction: column;
		}

		.secondaryNav ul {
			display: none;
			position: relative;
			background-image: none;
			flex-direction: column;
			top: auto;
			z-index: 1;
		}

		.secondaryNav a {
			color: var(--teal);
			background-color: var(--blackhole);
			padding: 1rem;
		}

		.secondaryNav li {
			margin: auto;
			padding: 0.5rem;
		}

		.secondaryNav a:visited {
			color: var(--pink);
		}

			/* ----- SEC NAV COLLAPSE (not really a hmenu) ----- */
			.secNav input {
				appearance: none;
				padding: 0;
				margin: 0;
				outline: none;
				pointer-events: none;
			}

			.secondaryNav label {
				color: var(--teal);
				background-color: var(--blackhole);
				padding: 0.75rem;
				margin: 0.5rem;
				border-radius: 90px;
			}

			.secNav input:checked {
				opacity: 0;
				width: 0;
			}

			.secNav:has(input:checked) + .secNavMenu {
				display: block;
			}
			
/* ----- MAIN ----- */
	/* ----- HOME PAGE // HERO SLIDESHOW ----- */
	.heroSlideshow {
		position: relative;
	}

	.heroSlides {
		padding-bottom: 56.25%;
	}

	.slide {
		visibility: hidden;
		overflow: hidden;
		width: 100%;
		margin: auto;
		object-fit: cover;
		position: absolute;
	}

	.slide.active {
		visibility: visible;
	}

	.heroDots {
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
	}

	.heroDot {
		display: inline-block;
		height: 1rem;
		width: 1rem;
		border-radius: 90px;
		background-color: var(--blackhole);
		opacity: 70%;
		margin: 1rem;
		cursor: pointer;
	}

	.heroDot.active {
		background-color: var(--gold);
	}

	/* ----- HOME PAGE // 3C TILES ----- */
	.tile {
		background-color: var(--blackhole);
		color: var(--white);
		padding: 2rem 4rem;
	}

	.tile img, .tile p {
		width: 100%;
		display: block;
		margin: 1rem auto;
	}

	.tileBtn {
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		font-size: 1.5em;
		font-weight: 500;
		color: var(--blackhole);
		background-color: var(--teal);
		border-radius: 90px;
		display: block;
		margin: auto;
		padding: 0.75em;
		width: 50%;
	}

	.tileBtn:hover, .tileBtn:focus {
		color: var(--teal);
		background-color: var(--white);
	}

	/* ----- HOME PAGE // MAP & FIND US SECTION ----- */
	iframe {
		height: 25rem;
		width: 100%; 
		padding: 1rem 0;
	}

	#findUs {
		display: grid;
		grid-template-columns: 2fr 1fr;
		padding: 1rem 4rem;
		margin: auto;
	}

	#findUs h2, #mapContainer {
		grid-column: 1 / -1;
	}

	#findUs h4, #findUs address, #findUs ul {
		grid-column: 1 / 1;
	}

	#findUs h4 { 
		padding-top: 1rem;
	}

	#findUs address a {
		text-decoration: none;
		color: var(--gold);
	}

	#findUs address a:visited {
		color: var(--grape);
	}

	/* ----- ABOUT PAGE // ALL ABOUT STYLES ----- */
	#mainAboutWrapper nav, #mainAboutWrapper section {
		padding: 1rem 2rem;
	}

	#mainAboutWrapper img {
		box-sizing: border-box;
		width: 100%;
		height: 20rem;
		padding: 0 2rem;
		object-fit: cover;
		object-position: 65% 25%;
	}

	#mainAboutWrapper p {
		margin: 0.5rem auto;
	}

	#location { 
		background-color: var(--blackhole);
		color: var(--white);
	}

	#location a {
		color: var(--white);
	}

	#location h4, #policies section {
		padding: 0.5rem 0;
	}

/* ----- FOOTER ----- */
footer {
	background-image: linear-gradient(to left, var(--pink) 0%, var(--grape) 50%, var(--navy) 100%);
	color: var(--white);
	text-align: center;
	padding: 1rem;
}

footer address a {
	text-decoration: none;
	color: var(--white);
}

footer address a:visited{
	color: var(--white);
}

footer h6 {
	font-size: 1.75em;
}

.socialIcon {
	padding: 0.5rem;
	text-decoration: none;
}

#whatnotLogo {
	width: 44px;
}

#subBtnWrapper {
	width: 25rem;
	max-width: 80%;
	position: relative;
	margin: 1.5rem auto;
}

#subBtnWrapper input {
	padding: 1rem;
	border-radius: 90px;
	border: none;
	width: 100%;
	box-sizing: border-box;
	line-height: 0;
}

#subBtnWrapper button {
	color: var(--white);
	background-color: var(--gold);
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 90px;
	border: none;
	padding: 1rem;
	position: absolute;
	right: 0;
	cursor: pointer;
}

.errorMessage {
	display: none;
}

.successMessage {
	display: none;
}

/* ----- ADDITIONAL CLASSES ----- */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip-path: inset(50%);
}

.today {
	color: var(--gold);
}

/* ----- ADDITIONAL IDS ----- */
#topBtn {
	position: sticky;
	bottom: 2rem;
	margin-right: 1rem;
	/* calc below is 75px for svg size and 1rem for margin-right above */
	margin-left: calc(100vw - (75px + 1rem));
	margin-top: calc(100vh + var(--topOffset));
}

/* ----- MEDIA QUERIES ----- */

/* --- LARGE ENOUGH PHONE --- */
@media screen and (min-width: 500px){
	 .lgView {
		display: block;
	}

	.smView {
		display: none;
	}
}

/* --- TABLET --- */
@media screen and (min-width: 768px){
	/* ----- HEADER ----- */
	header {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr 1fr;
		height: auto;
	}

	header h1 {
		grid-column: 2 / 6;
		margin-left: 0.5rem;
	}

		/* ----- NAV ----- */
		nav {
			font-size: 1.5em;
			grid-row: 2 / 3;
			grid-column: 1 / -1;
		}

		nav ul {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			position: static;
			background-image: none;
		}

		nav li:first-of-type {
			grid-column: 2 / 3;
		}

		.hMenu {
			display: none;
		}

	/* ----- MAIN ----- */
		/* ----- HOME PAGE // HERO SLIDESHOW ----- */
		.heroDot {
			height: 1.5rem;
			width: 1.5rem;
			margin: 1.25rem;
		}

		/* ----- HOME PAGE // 3C TILES ----- */
		.tile {
			display: grid;
			grid-template-columns: 2fr 1fr;
			grid-template-rows: repeat(4, 1fr);
			gap: 0.75rem;
			padding: 2rem 4rem;
			height: 400px;
		}

		.tile img {
			grid-column: 1;
			grid-row: 1 / 5;
			height: 100%;
			max-height: fit-content;
			object-fit: cover;
			margin: 0;
		}

		.tile h3, .tile p, .tile a {
			grid-column: 2;
		}

		.tile h3 {
			grid-row: 1;
			text-align: left;
		}

		.tile p {
			grid-row: 1 / 3;
			padding-top: 2rem;
		}

		.tile a {
			grid-row: 4;
			align-self: end;
			justify-self: center;
			margin: 0;
		}

		/* ----- HOME PAGE // MAP & FIND US SECTION ----- */
		#mapContainer {
			grid-column: 1;
			grid-row: 2 / 6;
		}

		#findUs {
			column-gap: 0.75rem;
		}

		#findUs h4, #findUs address, #findUs ul {
			grid-column: 2;
		}

		#findUs h4 {
			align-self: end;
		}

		/* ----- ABOUT PAGE // ALL ABOUT STYLES ----- */
		.secondaryNav {
			flex-direction: row;
		}
		
		.secondaryNav label{
			display: none;
		}

		.secondaryNav ul {
			display: flex;
			flex-direction: row;
		}

		.secondaryNav li {
			width: 15rem;
		}

		#location {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		#location h2, #locationContainer {
			grid-column: 1 / 3;
		}

		#location h4 {
			grid-row: 3;
		}

	/* ----- FOOTER ----- */
	footer {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 0.75rem;
		padding: 1rem 3rem;
	}

	#footerAddress {
		grid-column: 1;
		grid-row: 1;
		align-self: center;
		text-align: left;;
	}

	footer h6, #socialsWrapper {
		grid-column: 2;
	}

	footer h6 { 
		align-self: end;
	}

	#socialsWrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

	#subBtnWrapper {
		justify-self: left;
		margin: 0;
		grid-row: 2;
	}

	small {
		grid-column: 1 / -1;
	}

	/* ----- ADDITIONAL CLASSES ----- */

	/* ----- ADDITIONAL IDS ----- */
}

/* --- LAPTOP --- */
@media screen and (min-width: 1440px){
	/* ----- HEADER ----- */
	header {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: 1fr;
		gap: 0.75rem;
	}

	.logo, header h1, nav { 
		grid-row: 1;
	}

	.logo {
		grid-column: 2 / 3;
		justify-self: start;
	}

	header h1 { 
		text-align: left;
		grid-column: 2 / 5;
		justify-self: start;
		margin-left: 105px;
	}

    	/* ----- NAV ----- */
		nav { 
			grid-column: 5 / 8;
			justify-self: stretch;
		}

		nav ul {
			background: none;
			grid-template-columns: repeat(4, 1fr);
		}

		nav li {
			padding: 0.25rem;
		}

		nav li:first-of-type {
			grid-column: 1 / 1;
		}

	/* ----- MAIN ----- */
	#main {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		column-gap: 0.75rem;
	}

	/* ----- HOME PAGE // HERO SLIDESHOW ----- */
	.heroSlideshow {
		grid-column: 1 / 9;
	}
	
	/* ----- HOME PAGE // 3C TILES ----- */
	#cards { 
		grid-column: 2 / 4;
	}

	#collectibles { 
		grid-column: 4 / 6;
	}

	#community { 
		grid-column: 6 / 8;
	}

	.tile { 
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(10, 1fr);
		height: 600px;
		padding: 1rem 2.5rem;
		margin-top: 1.5rem;
	}

	.tile h3, .tile img, .tile p, .tile a {
		grid-column: 1;
	}

	.tile h3 {
		text-align: center;
	}

	.tile img {
		grid-row: 2 / 7;
	}

	.tile p {
		padding: 0;
		margin: 0;
		grid-row: 7 / 9;
	}

	.tile a {
		grid-row: 10;
	}

	/* ----- HOME PAGE // MAP & FIND US SECTION ----- */
	#findUs {
		grid-column: 2 / 8;
		margin: 0;
		padding: 0;
		grid-template-columns: repeat(6, 1fr);
	}

	#mapContainer {
		grid-column: 1 / 5;
	}

	#findUs h4 {
		grid-row: 2;
	}

	#findUs h4:first-of-type, #findUs address {
		grid-column: 5;
	}

	#findUs h4:nth-of-type(2), #findUs ul {
		grid-column: 6;
	}

	/* ----- ABOUT PAGE // GRID & OTHER STYLES ----- */
	/* this grid was really challenging, so I just want that noted here */
	#mainAboutWrapper {
		display: grid;
		grid-template-areas: 
		". . SNav SNav SNav SNav . ."
		". img img img img . . ."
		". img img img img . . ."
		". stry stry stry stry stry stry ."
		". stry stry stry stry stry stry ."
		". stry stry stry stry stry stry ."
		"loc loc loc loc loc loc loc loc"
		"pol pol pol pol pol pol pol pol";
		grid-template-columns: repeat(8, minmax(0, 1fr));
		grid-template-rows: minmax(0, 0.5fr) repeat(2, minmax(0, 1.5fr)) repeat(3, minmax(0, 0.75fr)) repeat(2, minmax(0, 4fr));
		grid-gap: 0.75em;
	}

	#mainAboutWrapper nav {
		padding: 0;
	}

	.secondaryNav {
		grid-area: SNav;
		justify-self: stretch;
	}

	#mainAboutWrapper img {
		grid-area: img;
		padding: 0;
		margin: 0;
		height: 100%;
	}

	#mainAboutWrapper section {
		padding: 0;
		margin: 0;
	}
		
		/* ----- #ourStory meta grid -----  */
		#ourStory {
			display: grid;
			grid-row: 2 / 7;
			grid-column: 1 / 9;
			grid-template-areas:
			". . . . . para1 para1 ."
			". . . . . para1 para1 ."
			". para2 para2 para2 para2 para2 para2 ."
			". para2 para2 para2 para2 para2 para2 ."
			". para2 para2 para2 para2 para2 para2 .";
			grid-template-columns: repeat(8, minmax(0, 1fr));
			grid-template-rows: repeat(2, minmax(0, 1.5fr)) repeat(3, minmax(0, 0.75fr));
			grid-gap: 0.75em;
		}

		#ourStory h2 {
			grid-column: 6 / 8;
			grid-row: 1;
			padding: 0;
		}

		#ourStory p {
			margin: 0;
		}

		#ourStory p:first-of-type {
			grid-area: para1;
			align-self: end;
			}

		#ourStory p:nth-of-type(2) {
			grid-area: para2;
		}

		/* ----- #location meta grid ----- */
		#location {
			grid-area: loc;
			grid-template-columns: repeat(8, minmax(0, 1fr));
			grid-template-rows: 0.25fr 2fr;
			grid-gap: 0.75rem;
		}

		#location h2 {
			grid-column: 2 / 8;
			grid-row: 1;
		}

		#locationContainer {
			grid-column: 2 / 6;
			grid-row: 2;
		}

		#location h4:first-of-type, #location address {
			grid-column: 6 / 7;
			grid-row: 2;
		}

		#location h4:nth-of-type(2), #location ul {
			grid-column: 7 / 8;
			grid-row: 2;
		}
		
		#location address, #location ul {
			margin-top: 4em;
		}

		/* ----- #policies meta grid ----- */
		#policies {
			grid-area: pol;
			display: grid;
			grid-template-columns: repeat(8, minmax(0, 1fr));
			grid-template-rows: 0.25fr repeat(2, 1fr);
			grid-gap: 0.75rem;
		}

		#policies h2 {
			grid-column: 2 / 8;
		}

		#returns, #storeCredit {
			grid-column: 2 / 5;
		}

		#preorders, #eventsPolicy {
			grid-column: 5 / 8;
		}

	/* ----- FOOTER ----- */
	footer {
		grid-template-columns: repeat(8, 1fr);
		column-gap: 0.75rem;
		padding: 0;
		margin: 0;
	}

	#footerAddress {
		grid-column: 2;
		padding-top: 1rem;
	}

	#subBtnWrapper {
		grid-column: 2 / 5;
	}

	footer h6 {
		grid-column: 6 / 8;
	}

	#socialsWrapper {
		grid-column: 6 / 8;
	}

	/* ----- ADDITIONAL CLASSES ----- */

	/* ----- ADDITIONAL IDS ----- */
}
