/* JANESSA GROVES */

/* CSS RESET BY MEYERWEB.COM */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- VARIABLES ----- */
:root{
    /* COLORS */
	--blackhole: #0D1F26;
	--gold: #D9A138;
	--navy: #00246D;
	--grape: #641F8C;
	--teal: #07F2C7;
	--pink: #F20EA8;
	--ltpurple: #AA3DD9;
	--white: #FFF;

    /* FONTS */
	--bitter-font: "Bitter", serif;
	--orb-font: "Orbitron", sans-serif;
	font-size: 16px;

	/* HAMBURGER MENU */
	--bar-width: 3.5rem;
	--bar-height: 0.4rem;
	--bar-gap: 0.65rem;
	--animation: 200ms ease-in-out;
	--hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
	--x-width: calc(var(--hamburger-height) * 1.41421356237);
}

/* ----- BODY/GLOBAL -----  */
html {
	width: 100%;
}

/* ----- TYPOGRAPHY -----  */
h1, h2, h6, nav, .tileBtn, #subBtnWrapper button {
	font-family: var(--orb-font);
}

h3, h4, p, small, address, .hours, input, span {
	font-family: var(--bitter-font); 
	line-height: 1.5em;
}

h1, h2, h3, nav {
	font-weight: bold;
	text-align: center;
}

h1 {
	font-size: 2.5em;
	color: var(--white);
}

h2 {
	font-size: 2.5em;
	padding-top: 1rem;
}

h3, nav {
	font-size: 2em;
}

h4, h6 {
	font-weight: bold;
	font-size: 1.25em;
}

h6 {
	padding-top: 1rem;
}

small {
	font-size: 0.5em;
}

/* ----- SKIP LINK ----- */
#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip:focus  {
	position: static;
	width: auto;
	height: auto;
}

/* ----- HEADER ----- */
header { 
	background-image: linear-gradient(to left, var(--pink) 0%, var(--grape) 50%, var(--navy) 100%);
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 7em;
}

.logo {
	width: 58px;
	padding-left: 0.25rem;
}

.lgView {
	display: none;
}

.smView {
	display: block;
}
    /* ----- NAV ----- */
	nav {
		display: block;
		margin: 0;
		padding: 0;
	}

	nav ul {
        width: 100%;
        display: none;
		position: absolute;
		right: 0;
		top: 7rem;
		z-index: 1;
		background-image: linear-gradient(to left, var(--pink) 0%, var(--grape) 50%, var(--navy) 100%);
	}

	nav li {
		padding: 1rem;
	}

	nav a {
		text-decoration: none;
		color: var(--blackhole);
		background-color: var(--white);
		padding: 1em;
		border-radius: 90px;
		display: block;
	}

	nav a:focus, nav a:hover {
		color: var(--white);
		background-color: var(--blackhole);
	}

	nav a:visited { 
		color: var(--grape);
	}
	
	/* ----- HAMBURGER MENU INSPIRED BY WEB DEV SIMPLIFIED ----- */
	/* https://youtu.be/dAIVbLrAb_U? */
	.hMenu {
		display: flex;
		flex-direction: column;
		gap: var(--bar-gap);
		width: max-content;
		padding-right: 0.5rem;
		z-index: 2;
		cursor: pointer;
	}

	.hMenu::before, .hMenu input, .hMenu::after {
		content: "";
		width: var(--bar-width);
		height: var(--bar-height);
		background-color: var(--white);
		border-radius: 90px;
		transform-origin: left center;
		transition: opacity var(--animation), width var(--animation), rotate var(--animation), translate var(--animation);
	}

	.hMenu input {
		appearance: none;
		padding: 0;
		margin: 0;
		outline: none;
		pointer-events: none;
	}

	.hMenu input:checked {
		opacity: 0;
		width: 0;
	}

	.hMenu:has(input:checked)::before {
		rotate: 45deg;
		width: var(--x-width);
		translate: 0 calc(var(--bar-height) / -2);
	}

	.hMenu:has(input:checked)::after {
		rotate: -45deg;
		width: var(--x-width);
		translate: 0 calc(var(--bar-height) / 2);
	}

	.hMenu:has(input:checked) + .menu {
		display: block;
	}

	.hMenu:has(input:focus-visible)::before,
	.hMenu:has(input:focus-visible)::after,
	.hMenu input:focus-visible {
		border: 1px solid var(--blackhole);

	}

/* ----- MAIN ----- */
.heroSlides img {
	width: 100%;
	margin: auto;
}

.tile {
	background-color: var(--blackhole);
	color: var(--white);
	padding: 2rem 4rem;
}

.tile img, .tile p {
	width: 100%;
	display: block;
	margin: 1rem auto;
}

.tileBtn {
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-size: 1.5em;
	font-weight: 500;
	color: var(--blackhole);
	background-color: var(--teal);
	border-radius: 90px;
	display: block;
	margin: auto;
	padding: 0.75em;
	width: 50%;
}

.tileBtn:hover, .tileBtn:focus {
	color: var(--teal);
	background-color: var(--white);
}

/*--- MAP ---*/
iframe {
	height: 25rem;
	width: 100%; 
	padding: 1rem 0;
}

#findUs {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 1rem 4rem;
	margin: auto;
}

#findUs h2, #mapContainer {
	grid-column: 1 / -1;
}

#findUs h4, #findUs address, #findUs ul {
	grid-column: 1 / 1;
}

#findUs h4 { 
	padding-top: 1rem;
}

#findUs address a {
	text-decoration: none;
	color: var(--gold);
}

#findUs address a:visited {
	color: var(--grape);
}
	
/* ----- FOOTER ----- */
footer {
	background-image: linear-gradient(to left, var(--pink) 0%, var(--grape) 50%, var(--navy) 100%);
	color: var(--white);
	text-align: center;
	padding: 1rem;
}

footer address a {
	text-decoration: none;
	color: var(--white);
}

footer address a:visited{
	color: var(--white);
}

#whatnotLogo {
	width: 44px;
}

.socialIcon {
	padding: 0.5rem;
}

#subBtnWrapper {
	width: 25rem;
	max-width: 80%;
	position: relative;
	margin: 1.5rem auto;
}

#subBtnWrapper input {
	padding: 1rem;
	border-radius: 90px;
	border: none;
	width: 100%;
	box-sizing: border-box;
}

#subBtnWrapper button {
	color: var(--white);
	background-color: var(--gold);
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 90px;
	border: none;
	padding: 1rem;
	position: absolute;
	right: 0;
	height: 100%;
}

.errorMessage {
	display: none;
}

/* ----- ADDITIONAL CLASSES ----- */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip-path: inset(50%);
}

#today {
	color: var(--gold);
}

/* ----- ADDITIONAL IDS ----- */

/* ----- MEDIA QUERIES ----- */

/* --- LARGE ENOUGH PHONE --- */
@media screen and (min-width: 414px){
	 .lgView {
		display: block;
	}

	.smView {
		display: none;
	}
}

/* --- TABLET --- */
@media screen and (min-width: 768px){
	/* ----- HEADER ----- */
	header {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr 1fr;
		height: auto;
	}

	header h1 {
		grid-column: 2 / 6;
	}

	.logo {
		padding: 0.5rem;
	}

		/* ----- NAV ----- */
		nav {
			font-size: 1.5em;
			grid-row: 2 / 3;
			grid-column: 1 / -1;
		}

		nav ul {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			position: static;
		}

		nav li:first-of-type {
			grid-column: 2 / 3;
		}

		.hMenu {
			display: none;
		}

	/* ----- MAIN ----- */
	.tile {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: repeat(4, 1fr);
		gap: 0.75rem;
		padding: 2rem 4rem;
		height: 400px;
	}

	.tile img {
		grid-column: 1;
		grid-row: 1 / 5;
		height: 100%;
		max-height: fit-content;
		object-fit: cover;
		margin: 0;
	}

	.tile h3, .tile p, .tile a {
		grid-column: 2;
	}

	.tile h3 {
		grid-row: 1;
		text-align: left;
	}

	.tile p {
		grid-row: 1 / 3;
		padding-top: 2rem;
	}

	.tile a {
		grid-row: 4;
		align-self: end;
		justify-self: center;
		margin: 0;
	}

	#mapContainer {
		grid-column: 1;
		grid-row: 2 / 6;
	}

	#findUs {
		column-gap: 0.75rem;
	}

	#findUs h4, #findUs address, #findUs ul {
		grid-column: 2;
	}

	#findUs h4 {
		align-self: end;
	}

	/* ----- FOOTER ----- */
	footer {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 0.75rem;
		padding: 1rem 4rem;
	}

	#footerAddress {
		grid-column: 1;
		grid-row: 1;
		align-self: center;
		text-align: left;;
	}

	footer h6, #socialsWrapper {
		grid-column: 2;
	}

	footer h6 { 
		align-self: end;
	}

	#subBtnWrapper {
		justify-self: left;
		margin: 0;
		grid-row: 2;
	}

	small {
		grid-column: 1 / -1;
	}

	/* ----- ADDITIONAL CLASSES ----- */

	/* ----- ADDITIONAL IDS ----- */
}

/* --- LAPTOP --- */
@media screen and (min-width: 1280px){
	/* ----- HEADER ----- */
	header {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: 1fr;
		gap: 0.75rem;
	}

	header img, header h1, nav { 
		grid-row: 1;
	}

	.logo { 
		justify-self: end;
	}

	header h1 { 
		grid-column: 2 / 5;
		text-align: left;
	}

    	/* ----- NAV ----- */
		nav { 
			grid-column: 5 / 8;
		}

		nav ul {
			background: none;
		}

	/* ----- MAIN ----- */
	main {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		column-gap: 0.75rem;
	}

	.heroSlides {
		grid-column: 1 / 9;
	}

	#cards { 
		grid-column: 2 / 4;
	}

	#collectibles { 
		grid-column: 4 / 6;
	}

	#community { 
		grid-column: 6 / 8;
	}

	.tile { 
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(10, 1fr);
		height: 600px;
		padding: 1rem 2.5rem;
	}

	.tile h3, .tile img, .tile p, .tile a {
		grid-column: 1;
	}

	.tile h3 {
		text-align: center;
	}

	.tile img {
		grid-row: 2 / 7;
	}

	.tile p {
		padding: 0;
		margin: 0;
		grid-row: 7 / 9;
	}

	.tile a {
		grid-row: 10;
	}

	#findUs {
		grid-column: 2 / 8;
		margin: 0;
		padding: 0;
		grid-template-columns: repeat(6, 1fr);
	}

	#mapContainer {
		grid-column: 1 / 5;
	}

	#findUs h4 {
		grid-row: 2;
	}

	#findUs h4:first-of-type, #findUs address {
		grid-column: 5;
	}

	#findUs h4:nth-of-type(2), #findUs ul {
		grid-column: 6;
	}

	/* ----- FOOTER ----- */
	footer {
		grid-template-columns: repeat(8, 1fr);
		column-gap: 0.75rem;
		padding: 0;
		margin: 0;
	}

	#footerAddress {
		grid-column: 2;
		padding-top: 1rem;
	}

	#subBtnWrapper {
		grid-column: 2 / 5;
	}

	footer h6 {
		grid-column: 6 / 8;
	}

	#socialsWrapper {
		grid-column: 6 / 8;
	}

	/* ----- ADDITIONAL CLASSES ----- */

	/* ----- ADDITIONAL IDS ----- */
}
